<%= render 'partials/topbar_archive' %>

<div class="row">
  <div class="large-8 columns">
    <h4>
      <div class="dash4">Lists</div>
    </h4>
    <h5>
      <% @lists.each do |list| %></h5>
        <ul>
          <li><h3><%= list.title %>
          <%= link_to 'Delete', list_path(list), method: :delete, class: "button round tiny alert"  %></h3></li>
        </ul>
      <% end %>
      </div>
</div>
