<%= render 'partials/topbar' %>

<div class="row">
  <div class="large-8 columns">
    <h4>
      <div class="dash4">Lists</div>
    </h4>
    <h5><% @lists.each do |list| %></h5>
      <ul>
        <li><%= link_to list.title, edit_list_path(list) %>
        <%= link_to 'Archive This', archive_path(list), method: :put, class: "button tiny" %></li>
      </ul>
    <% end %>
  </div>
</div>
