<%= render 'partials/topbar_archive' %>
<br>
<div class="row">
  <div class="large-8 columns">
    <h3>Tasks for <%= @list.title %></h3>
      <% @list.current_tasks.each do |task| %>
        <ul>
          <li>
            <%= link_to task.title, edit_list_task_path(@list, task) %>
            - Tags: |
            <% task.tags.each do |tag| %>
              <%= link_to "filter with #{tag.name}", list_tasks_path(@list, task, tag_id: tag.id) %> |
            <% end %>
          </li>
        </ul>
      <% end %>
  </div>
</div>

