<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on">
    <section class="top-bar-section">
      <ul class="buttons-topbar">
        <li><%= link_to "Logout", logout_path %></li>
        <li><%= link_to "New List", '#' %></li>
        <li><%= link_to "List Archives", '#' %></li>
      </ul>
    </section>
  </nav>
</div>

<div class="row">
  <div class="large-8 columns">
    <h4>
      <div class="dash4">Lists</div>
    </h4>
  </div>
</div>
