<header class="hero">
  <h1>
    <div class="title">Tasker</div>
    <div class="title-small">Lists of Tasks of Lists of...Tasks?</div>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "sign in with twitter", login_path, class: "twitter round button" %>
      </div>
    </div>
  </h1>
</header>
