@mixin vertical-align {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero {
  background: asset-data-url("tasker-welcome.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  .title {
    font-size: 8rem;
    font-weight: 500;
    color: white;
    @include vertical-align;
  }
  .title-small {
    font-size: 2.5rem;
    line-height: 1.0em;
    font-weight: 200;
    color: white;
    @include vertical-align;
  }
  h1 {
    text-align: center;
    @include vertical-align;
  }
}
